services:
  statping:
    container_name: statping
    image: adamboutcher/statping-ng:latest
    restart: always
    volumes:
      - /var/statping_data:/app
    environment:
      DB_CONN: sqlite
    networks:
      - caddy_default

networks:
  caddy_default:
    external: true


volumes:
  statping_data:
